.calc {
    z-index: 9;
    grid-area: main;
    align-self: center;

    .line {
        margin-bottom: 5px;
        display: flex;

        button[data-info$="="] {
            background-color: var(--blue);
        }
        button {
            border: none;
            border-radius: 5px;
            background-color: var(--background);
            color: var(--text);
            margin-right: 5px;
            width: 80px;
            height: 80px;
            font-size: 30pt;
        
            transition: background-color 200ms ease;
        }
        button:hover {
            background-color: var(--hover);
        }
    }
}
#display,
#history {
    border-radius: 5px;
    background-color: var(--background);
}
#display {
    grid-area: display;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;

    #operation {
        font-size: 3em;
    }
}
#history {
    grid-area: history;
    padding: 10px;

    .item {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
}