@import '../config/colors';

.calc {
    box-sizing: border-box;
    position: relative;
    top: 70px;
    width: 100%;
    height: calc(100% - 90px);
    display: grid;
    gap: 10px;
    z-index: 9;

    #display,
    #history {
        border-radius: 5px;
        background-color: $background;
    }

    #display {
        grid-area: header;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px;

        #operation {
            font-size: 3em;
        }
    }
    #history {
        grid-area: history;
    }
    #numbers {
        grid-area: dial;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .line {
            margin-bottom: 5px;
            display: flex;

            button[data-info$="="] {
                background-color: $blue;
            }
            button {
                border: none;
                border-radius: 5px;
                background-color: $background;
                color: $text;
                margin-right: 5px;
                width: 80px;
                height: 80px;
                font-size: 30pt;
            
                transition: background-color 200ms ease;
            }
            button:hover {
                background-color: $hover;
            }
        }
    }
}