#footer {
    background-color: #181818;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
    grid-area: footer;

    span {
        margin-right: 15px;
        display: flex;
        align-items: center;
    }
}
