@import '../../config/colors';

#header {
    background-color: $background;
    z-index: 10;
    grid-area: header;

    #container {
        height: 100%;
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;

        #github {
            padding: 10px;
            color: $text;
        }
    }
}
