@media (min-width: 900px) {
    .calc {
        max-width: 900px !important;
        margin: 0 auto;
    }
}
@media (min-width: 620px) {
    .calc {
        padding: 30px;
        grid-template-columns: auto 200px;
        grid-template-rows: 20% 80%;
        grid-template-areas: 
            "header header"
            "dial history"
        ;

        #numbers {
            align-items: flex-start;
        }
    }
}