@media (min-width: 301px) and (max-width: 619px) {
    #root {
        grid-template-columns: 1fr;
        grid-template-rows: 60px 150px repeat(2, 1fr) 30px;
        grid-template-areas: 
            "header"
            "display"
            "main"
            "history"
            "footer"
        ;
        .calc {
            justify-self: center;
        }
    }
}
@media (max-width: 300px) {
    #display {
        margin-top: 5px;
    }
    .line button {
        width: 25%;
    }
}