@media (max-width: 619px) {
    .calc {
        grid-template-columns: auto;
        grid-template-rows: 20% auto 70%;
        grid-template-areas: 
            "header"
            "dial"
            "history"
        ;

        #numbers {
            align-items: center;
        }
    }
}
@media (max-width: 300px) {
    .calc {
        padding: 5px;

        #display {
            margin-top: 5px;
        }
        #numbers {
            .line button {
                width: 25%;
            }
        }
    }
}